*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(180deg, rgb(251, 60, 60), rgb(43, 153, 232));
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 1.7rem;
}

.logo:hover{
    cursor: default;
}

.navigation ul{
    list-style-type: none;
    padding: 10px;
}

.navigation ul li {
    display: inline;
    padding: 15px;
    
}

.navigation ul li a{
    text-decoration: none;
    color: rgb(227, 222, 222);
    font-size: 1.1rem;
    gap: 4px;
    font-weight: 700;
    transition: all ease-in-out.5s;
}

.navigation ul li a:hover{
    text-decoration: underline;
    text-underline-offset: .7rem;
    text-decoration-color: green;
    color: green;
}

/* content Section */

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-text{
    /* border: 1px solid black; */
    gap: 2.5px;
}

.content-text :is(p){
    font-size: 1.2rem;
    padding: 2.5px;
}

.content-text :is(h1){
    font-size: 3rem;
}

.img-area{
    width: 300px;
    height: 300px;
}

.img-area img{
    width: 300px;
    height: 300px;
    
    border-radius: 167px;
    box-shadow: 2px -3px 118px 30px rgba(68, 70, 193, 0.75);

}

.btn{
    border: 1px solid rgb(17, 17, 17);
    background-color: white;
    border-radius: 25px;
    padding: 8px 15px;
    color: rgb(10, 9, 9);
    font-weight: 700;
    margin-top: 10px;
    transition: all ease-in-out.3s;
}

.btn:hover{
    cursor: pointer;
    background-color: #111;
    color: white;
    transition: 1s;
}

/* about section */

.about{
    display: flex;
    justify-content: center
}

.about-container{
    /* border: 1px solid black; */
    width: 75%;
}

.about-container h1{
    font-size: 2.5rem;
    padding: 5px;
}

.about-container p{
    font-size: 1.2rem;
    padding: 5px;
}


.skills{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.skills-table ul li{
    text-decoration: underline ;
    margin-bottom: 7px;
    
}

/* Education Section */

.educatoin {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.edu-section {
    display: flex;
    justify-content: center;
}

.edu-section h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.edu-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 50%;
    position: relative;
    top: 40px;
    right: 70px;
}

.instute {
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    padding: 10px;
    /* margin: 1rem; */
}

/* Project Section */

.projects {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
    position: relative;
    left: 20%;
}

.projects h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.sub-pro-container {
    position: relative;
    left: 2.8rem;
}


.pro-1 {
    /* border: 1px solid black; */
    width: 55%;
    /* height: 220px; */
    padding: 10px;
    padding: 10px;
}

/* Contact Section */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-heading {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    right: 28%;
    font-size: 2.5rem;
}

.contact-section {
    display: flex;
    padding: 15px 5px 15px 5px;
    flex-direction: column;
    align-items: center;
}

.contact-details {
    display: flex;
    flex-direction: column;
    padding: 18px;
    text-align: center;
}

.contact-details a{
    color: black;
    text-decoration: none;
    color: white;
}

.contact-text {
    width: 40.3%;
    text-align: center;
}

.connect-me{
    text-align: center;
}

.connect-me a{
    color: #111;
    text-decoration: none;
    text-align: center;
    font-size: 27px;
    margin-left: 20px;
    margin-top: 17px;
    color:white;
    
}